In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

df = pd.read_csv("titanic.csv")

In [ ]:
print("Shape of the dataset:", df.shape)
print("\nLet's take a peek at the first few rows:")
display(df.head())

print("\nAny missing values before we start cleaning?")
print(df.isnull().sum())

Shape of the dataset: (891, 15)

Let's take a peek at the first few rows:

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Any missing values before we start cleaning?
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df["Age"].fillna(df["Age"].median(), inplace=True)

df["Embarked"].replace('', np.nan, inplace=True)
df["Embarked"].fillna(df["Embarked"].mode()[0], inplace=True)

print("Missing values after handling Age and Embarked:")
print(df.isnull().sum())

KeyError: 'Age'

In [ ]:
print("Fare values before scaling (first 8 rows):")
print(df["Fare"].head(8))

if df["Fare"].isnull().any():
    print("Looks like there were some missing Fare values - filling them with the median before scaling.")
    df["Fare"].fillna(df["Fare"].median(), inplace=True)

scaler = StandardScaler()
df["Fare_scaled"] = scaler.fit_transform(df[["Fare"]])[:, 0]

print("\nFare values after scaling (first 8 rows):")
print(df[["Fare", "Fare_scaled"]].head(8))

Fare values before scaling (first 8 rows):

KeyError: 'Fare'

In [ ]:
print("Columns before one-hot encoding:")
print(list(df.columns))

print("\nSex and Embarked columns before encoding (first 8 rows):")
print(df[["Sex", "Embarked"]].head(8))

Columns before one-hot encoding:

NameError: name 'df' is not defined

In [ ]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first', sparse_output=False)

encoded_arr = ohe.fit_transform(df[["Sex", "Embarked"]])

encoded_cols = ohe.get_feature_names_out(["Sex", "Embarked"])

encoded_df = pd.DataFrame(encoded_arr, columns=encoded_cols, index=df.index)

print("The new encoded columns (first 8 rows):")
print(encoded_df.head(8))

NameError: name 'df' is not defined

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

num_features = ["Pclass", "Age", "SibSp", "Parch", "Fare"]

df["Survived"] = df["Survived"].astype(int)

sns.pairplot(df[num_features + ["Survived"]], hue="Survived", diag_kind="hist", plot_kws={"alpha":0.6})
plt.suptitle("Pairplot of Numerical Features grouped by Survived", y=1.02)
plt.show()

NameError: name 'df' is not defined

In [ ]:
print("First 5 rows of the encoded dataset:")
print(encoded_df.head())

First 5 rows of the encoded dataset:

NameError: name 'encoded_df' is not defined

In [ ]:
final_df = pd.concat([df.drop(columns=["Sex", "Embarked", "Fare"]), encoded_df], axis=1)

print("Here's what the first 5 rows of the final processed dataset look like:")
display(final_df.head())

NameError: name 'df' is not defined